html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 6.5fr 10fr 5fr;
    grid-template-rows: 9em 50em;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#viewport {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 640px;
    height: 256px;
    position:relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

#ports {
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    width: 128px;
    height: 64px;
    background-image: url('../images/ship.png');
    position: absolute;
}

#sailbutton {
    border: 0;
    background-color: #FB3640;
    border-bottom: 4px solid #d8040f;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
}

#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 14px;
  }

  #message {
    padding: 16px;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 3px solid black;
    background-color: white;
  }

  #HUD {
    grid-row: 1/2;
    grid-column: 2/4;
    padding: 30px;
    height: auto;
    text-align: right;
    font-family: 'Press Start 2P', cursive;
    color: white;
  }

  #addPort {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 13px;
    width: 200px;
    margin: 20px;
    padding: 20px;
    border-width: 5px;
    border-style: solid double;
    border-color: black;
    background-color: white;
    height: auto;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
    color: black;
  }

  #portButton {
      background-color: #FB3640;
      border: 0;
      border-bottom: 4px solid #d8040f;
      color: white;
      height: 25px;
      border: none;
  }

  #portButton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 3px;
  }